<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/file-uploader-utility/src/com/test/file/upload/FileUploadUtil.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.test.file.upload.FileUploadUtil"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="file-uploader-utility"/>
</launchConfiguration>
